header {
    position: fixed;
    width: 100vw;
    height: 80px;
    z-index: 999;

    background-color: var(--white);
}

header div.header-menubar {
    width: 87vw;
    height: 100%;
    max-width: 1392px;
    
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
    /**/
    border-bottom: 1px var(--text-color-light);
}

div.header-menubar .logo {
    display: flex;
    align-items: center;
}

div.header-menubar nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
}

nav ul li .item-text, nav ul li a {
    color: var(--text-color-dark);
    font-weight: 600;
}

div.header-menubar nav .nav-left {
    width: auto;
    height: 100%;
}

ul li:hover {
    background-color: var(--text-color-extra-light);
    transition: background .5s;
    color: var(--text-color-dark);
}

nav .nav-left ul {
    display: flex;
    font-size: 15px;
}

nav .nav-left ul li {
    line-height: 30px;
    padding: 0 10px;
    border-radius: 6px;
    transition: background .5s;
    cursor: pointer;
    opacity: .9s;
}

nav .nav-left ul li div.item-text.arrow {
    position: relative;
    padding-right: 24px;
}

nav .nav-left ul li div.item-text.arrow::after {
    content: "";
    display: block;
    width: 8px;
    height: 6px;
    background: url(https://www.notion.so/front-static/shared/icons/nav-caret.svg);
    position: absolute;
    top: 50%;
    margin-top: -2px;
    right: 10px;
}

nav .nav-right {
    display: flex;
}

nav .nav-right ul {
    display: flex;
    align-items: center;
}

nav .nav-right ul li:nth-child(1) {
    font-size: 15px;
    font-weight: 544;
    line-height: 30px;
    padding: 0 10px;
    border-radius: 6px;
    transition: background .5s;
}

nav .nav-right .divider {
    width: 1px;
    background-color: rgba(0, 0, 0, 0.1);
    height: 20px;
    margin: 0 10px;
    align-self: center;
}

nav .nav-right ul li:nth-child(2) {
    background-color: var(--theme-link);
    margin-left: 10px;
}

nav .nav-right ul li:nth-child(2):hover {
    opacity: 1.6;
    transition: .5s;
}

nav .nav-right ul li:nth-child(2) a {
    color: var(--white);
}

.space {
    height: 80px;
    width: 100%;
}

main {
    width: 87vw;
    margin: 0 auto;
    max-width: 1392px;
}

section.principal .title-apresentation {
    flex: 2;
    display: flex;
    flex-direction: column;

    gap: 25px;
    
    width: auto;
    width: 100%;
}

section.principal .title-apresentation h1 {
    font-size: 3.8125rem;
    line-height: 4.0625rem;
}

section.principal .title-apresentation h2 {
    font-size: 1.125rem;
    line-height: 1.5rem;
    max-width: 420px;
    color: var(--text-color-medium);
    font-weight: 600;
}

section.principal .title-apresentation div.primary-button-apresentation {
    width: 165px;
}

section.principal .title-apresentation .box-teams p {
    letter-spacing: 0.0075em;
    font-size: 0.84375rem;
    font-weight: 500;
    color: var(--text-color-medium);
}

section.principal .title-apresentation .box-teams .box-logotipos {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    opacity: 65%;
    gap: 10px;
}

section.principal .title-apresentation .box-teams .box-logotipos img {
    height: 22px;
    filter: grayscale(100%);
    margin: 10px 20px 10px 0;
}
section.principal .title-apresentation .box-teams .box-logotipos img + img {
    height: 19px;
    margin: 10px 10px 10px 0;
}

section.principal .banner-img {
    flex: 1;
    display: flex;
    width: 100%;
    justify-content: center;
}
section.principal .banner-img img {
    max-height: 280px;
    height: auto;
}

section.ecosystem div.banner-img img {
    border: 1px solid var(--border-color-regular);
    box-shadow: none;
}

section.by-teams {
    flex-direction: column;
    gap: 0;
}

section.by-teams div.content-section {
    display: flex;
    flex-direction: row-reverse;
    margin: 60px 0;
    width: 100%;
    gap: 100px;
    justify-content: space-between;
    flex-wrap: nowrap;
}

section.by-teams div.content-section div.banner-img-round {
    height: 100%;
    width: auto;
}

section.by-teams div.content-section div.banner-img-round img {
    height: 100%;
    max-width: 100%;
    border-radius: 12px;
    box-shadow: var(--box-shadown-box);
}

section.by-teams div.content-section .tabs-column {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}

section.by-teams div.content-section .tabs-column .details {
    position: absolute;
    width: max-content;
    font-size: 0.84375rem;
    font-weight: 400;
    line-height: 1.1875rem;
    color: var(--text-color-light);
    bottom: 0;
    left: 0;
}

section.by-teams div.content-section .tabs-column .details div {
    display: flex;
    height: 40px;
    justify-content: start;
    align-items: flex-end;
}

section.by-teams div.content-section .tabs-column .details div img {
    max-height: 30px;
}

section.by-teams div.content-section .tabs-column nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
    font-size: 19px;
    align-items: start;
}

section.by-teams div.content-section .tabs-column nav button {
    width: auto;
    cursor: pointer;
    margin: 2px 0;
    height: 35px;
    background: transparent;
    color: inherit;
    font-size: 1.0011rem;
    font-weight: 600;
    padding: 0.2rem 0.6rem 0.2rem 0.6rem;
    border: 0;
    border-radius: 5px;
    transition: background .5s;
    letter-spacing: -0.00075em;
}

section.by-teams div.content-section .tabs-column nav button.bt-tabs:hover {
    background-color: var(--text-color-extra-light);
    transition: background .5s;
}

section.by-teams div.content-section .tabs-column .active-button {
    background-color: rgba(0, 0, 0, 0.08);
}

section.by-tamplates {
    flex-direction: column;
    gap: 0;
}

section.by-tamplates div.header-section .image-wrap {
    align-self: center;
}

section.by-tamplates div.header-section .image-wrap img {
    max-height: 100px;
}

section.by-tamplates div.content-section {
    display: flex;
    flex-direction: column;
    margin: 40px 0;
}

section.by-tamplates div.content-section .boxs-content {
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-basis: auto;
    gap: 30px;
    flex-wrap: wrap;
    width: 100%;
}

section.by-tamplates div.content-section .box-round-media {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 17px;
    border-radius: 12px;
}

section.by-tamplates div.content-section .boxs-content div.overlay-contain {
    position: relative;
}

section.by-tamplates div.content-section .boxs-content div.overlay-contain .image {
    box-shadow: var(--box-shadown-primary-button);
    border-radius: 12px;
}

section.by-tamplates div.content-section .boxs-content div.overlay-contain .image img {
    max-height: 100%;
    width: 100%;
}

section.by-tamplates div.content-section .boxs-content div.overlay-contain .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: hidden;
    cursor: pointer;
}

section.by-tamplates div.content-section .boxs-content div.overlay-contain .overlay button {
    border-radius: 38px;
    height: 38px;
    padding: 0 20px;
    color: var(--white);
    border: 2px solid var(--white);
    background:rgba(0, 0, 0, 0.75);
    box-shadow: var(--box-shadown-ternary-button);
    transition: opacity 150ms, background 150ms;
    font-size: 15px;

    display: none;
}

section.by-tamplates div.content-section .boxs-content div.overlay-contain .overlay:hover {
    background-color: var(--text-color-extra-light);

    display: flex;
    align-items: center;
    justify-content: center;
}

section.by-tamplates div.content-section .boxs-content div.overlay-contain .overlay:hover button {
    display: block;
}

section.by-tamplates div.content-section .box-round-media a {
    color: var(--text-color-dark);
    background-color: transparent;
    font-size: 1.2rem;
    line-height: 1.4375rem;
    font-weight: 600;
    width: 100%;
}

section.by-tamplates div.content-section .box-round-media a:hover {
    text-decoration: underline;
}

section.by-tamplates div.content-section nav.controls {
    width: 100%;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
}

section.by-tamplates div.content-section nav.controls div {
    cursor: ponter;
    width: max-content;
}

section.by-tamplates div.content-section nav.controls div button {
    border: 0;
    background: none;
}


section.by-teams-comment div.header-section div.image-wrap img {
    max-height: 230px;
}

section.by-teams-comment div.header-section div.title-wrap {
    justify-content: center;
}

section.by-teams-comment div.content-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-basis: auto;
    gap: 65px;

    width: 100%;
}
section.by-teams-comment div.content-section .box-comment {
    flex: 1;
    display: flex;
    flex-direction: column;
}

section.by-teams-comment div.content-section .box-comment div.company-logo {
    margin-bottom: 0.75rem;
}
section.by-teams-comment div.content-section .box-comment div.company-logo img {
    max-height: 27px;
}

section.by-teams-comment div.content-section .box-comment blockquote {
    letter-spacing: -0.0075em;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.5rem;
    color: var(--text-color-medium);
    text-indent: -6px;
}

section.by-teams-comment div.content-section .box-comment .person-wrap {
    display: flex;
    width: 100%;
    margin-top: 10px;
    align-items: center;
}


section.by-teams-comment div.content-section .box-comment .person-wrap img {
    max-height: 60px;
}
section.by-teams-comment div.content-section .box-comment .person-wrap div {
    font-size: 15px;
    margin-left: 2px;
    padding-bottom: 2px;
}

section.by-teams-comment div.content-section .box-comment .person-wrap h5 {
    color: var(--text-color-dark);
    opacity: .9;
}

section.by-teams-comment div.content-section .box-comment .person-wrap p {
    color: var(--text-color-medium);
}

section.by-cta {
    flex-direction: column;
    gap: 0;

    position: relative;
    width: 100%;
    padding-bottom: 100px;
}

section.by-cta div.ilustration {
    width: 260px;
    position: absolute;
    bottom: -80px;
    left: 0;
}

section.by-cta div.ilustration img {
    max-width: 100%;
}

section.by-cta div.titles {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}
section.by-cta div.titles div {
    width: auto;
    margin: 0 auto 5px;
}
section.by-cta div.titles img {
    height: 80px;
}

section.by-cta div.titles h2 {
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 700;
}

section.by-cta div.titles h3 {
    font-size: 1.125rem;
    line-height: 1.5rem;
    font-weight: 500;
    color: var(--text-color-medium);
    margin-top: 8px;
}

section.by-cta div.cta-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
}
section.by-cta div.cta-wrap > a {
    margin: 10px auto;
}
section.by-cta div.cta-wrap a div.content-button-apresentation {
    min-width: 245px;
    text-align: center;
    margin: 0;
}

section.by-cta div.cta-wrap p {
    letter-spacing: 0.0005em;
    font-size: 1rem;
    line-height: 1.4375rem;
    font-weight: 400;
    color: var(--text-color-medium)
}

section.by-cta div.cta-wrap p a {
    color: inherit;
    text-decoration: underline;
    text-underline-offset: 0.1rem;
    text-decoration-thickness: 1px;
}

section.by-cta div.cta-wrap p a:hover {
    color: var(--theme-link);
    font-weight: 470;
    text-decoration: none;
}

footer {
    width: 87vw;
    margin: 0 auto;
    max-width: 1392px;
    margin-top: var(--space-between-section);
}

